/* Page two container holding the image and the text */
.imagecontainer {
   position: relative;
   text-align: center;
   color: white;
}
/* Page two text */
.top-left {
   position: absolute;
 text-align: left;
 font-size:1.1em ;
   top: 50px;
   left: 50px;
}
.jumbotron {
     background-size: cover;
     background-color: ;
     padding-top: 15%;
 padding-bottom: 15%;
}
.nav-item{
  color:yellow;
 font-size: 1.5em;
}
.btn-default{
 background-color:white;
 border-color:black;
 color:#788692;
 font-size:1em;
 margin-top:20px;
 margin-bottom:20px;
}
